@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #f2f0ea;
    --secondary-color: black;
    --third-color: white;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../Fonts/OTF/Satoshi-Regular.otf') format('opentype');
}

body {
    background-color: var(--third-color);

    color: var(--secondary-color);
    font-family: 'Satoshi';
    font-weight: bold;
}

/* Category_Card.jsx */




.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    padding: 15px;
    /* border: 0.7px solid black; */
    margin: 0px;
    text-align: center;
}

.icon-box:nth-child(1),
.icon-box:nth-child(2),
.icon-box:nth-child(3),
.icon-box:nth-child(5),
.icon-box:nth-child(6),
.icon-box:nth-child(7) {
    border-right: 0.7px solid rgba(0, 0, 0, 0.324);
    padding-right: 10px;
}

.icon-box:hover {
    background-color: #db4444;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: all 100ms ease-in;
}

.service-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    /* width: 80vw !important; */
    /* Allow items to wrap to the next line */
}

.service-icons svg {
    font-size: 60px;
    margin-bottom: 10px;
    /* Add margin between icons */
}

.heading {
    margin-top: -30px;
}

.animate-electricity {
    animation: electricityAnimation 1s linear infinite;
}

@keyframes electricityAnimation {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin: 350px auto;
    position: relative;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}